body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  /* Contrast too low! changed all instances to a darker red color: rgb(255, 136, 0); */
  color: rgb(255, 50, 50);
}

.todo-container {
  max-width: 400px;
  margin: 0 auto;
  background: #d6f4f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
}

.todo-input {
  border: none;
  padding: 15px;
  border-radius: 20px;
  width: 100%;
}

.todo-input:focus {
  outline: none;
}

#add-task-btn {
  border: none;
  padding: 15px;
  border-radius: 20px;
  background-color:  rgb(255, 50, 50);
  color: #fff;
  white-space: nowrap;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background: #fff;
  border-radius: 7px;
  margin-bottom: 5px;
}

.todo-item.completed {
  text-decoration: line-through 2px  rgb(255, 50, 50);
  opacity: 0.7;
}

.delete-btn {
  border-radius: 20px;
  padding: 10px 15px;
  border: none;
  background-color:  rgb(255, 50, 50);
  color: #fff;
}

.checkbox {
  color:  rgb(255, 50, 50);
}

/*****
Graham additions
*****/


/* this is to hide an element visually but still let it be accesased by a screen reader */
.visually-hidden { 
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

/* If the <ul> has nothing in it, we hide it */
#todo-list:empty{
  display: none;
}

/* we hide the "list is empty" message by default */
#empty-msg{
  display: none;
}

#todo-list:empty ~ #empty-msg{
  display: block;
}
