body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: rgb(255, 136, 0);
}

.todo-container {
  max-width: 400px;
  margin: 0 auto;
  background: #d6f4f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
}

.todo-input {
  border: none;
  padding: 15px;
  border-radius: 20px;
  width: 100%;
}

.todo-input:focus {
  outline: none;
}

#add-task-btn {
  border: none;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(255, 136, 0);
  color: #fff;
  white-space: nowrap;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background: #fff;
  border-radius: 7px;
  margin-bottom: 5px;
}

.todo-item.completed {
  text-decoration: line-through 2px rgb(255, 136, 0);
  opacity: 0.7;
}

.delete-btn {
  border-radius: 20px;
  padding: 10px 15px;
  border: none;
  background-color: rgb(255, 136, 0);
  color: #fff;
}

.checkbox {
  color: rgb(255, 136, 0);
}
